In [ ]:
# Q. 1 Write a code to reverse a string.

In [ ]:
string1 = "she is beautiful"

In [ ]:
string1[::-1]

'lufituaeb si ehs'

In [ ]:
# Q. 2 Write a code to count the number of vowels in a string.

In [ ]:
vowels = set("aeiouAEIOU")

In [ ]:
for char in string1:
    if char in vowels:
        print(char)

e
i
e
a
u
i
u

In [ ]:
Phrase = "she is beautiful"
count = 0
vowels = ["a", "e", "i", "o", "u"]

for i in range(len(Phrase)):
    if Phrase[i] in vowels:
        count += 1

print("Number of vowels in the given string is: ", count)

Number of vowels in the given string is:  7

In [ ]:
Statement = "work hard , dream big"

vowels = ["a", "e", "i", "o", "u"]
count = 0
for char in Statement:
    if char in vowels:
        count += 1

print("Number of vowels in the given string is: ", count)

Number of vowels in the given string is:  5

In [ ]:
# Q.3 Write a code to check if a given string is a palindrome or not.

In [ ]:
# A Palindrome in Python is a string, number, or another sequence of units that can be read in the same way in either direction.

In [ ]:
string1

'she is beautiful'

In [ ]:
string1.lower()

'she is beautiful'

In [ ]:
string1.upper()

'SHE IS BEAUTIFUL'

In [ ]:
a = "level"
output = "is palidrome"

if a == a[::-1]:
    print(output)
else:
    print("not palindrome")

is palidrome

In [ ]:
b = "refer"
answer = " this is palindrome"

if b == b[::-1]:
    print(answer)

else:
    print("not palidrome")

 this is palindrome

In [ ]:
# Q. 4 Write a code to check if two given strings are anagrams of each other.

In [ ]:
def are_anagrams(string1, string2):

    string1 = string1.replace(" ", "").lower()
    string2 = string2.replace(" ", "").lower()


    return sorted(string1) == sorted(string2)


string1 = "Listen"
string2 = "Silent"

if are_anagrams(string1, string2):
    print(f"'{string1}' and '{string2}' are anagrams.")
else:
    print(f"'{string1}' and '{string2}' are not anagrams.")

'Listen' and 'Silent' are anagrams.

In [ ]:
def are_anagrams(string1, string2):




     sorted(string1) == sorted(string2)


string1 = "gram"
string2 = "arm"

if are_anagrams(string1, string2):
    print(f"'{string1}' and '{string2}' are anagrams.")
else:
    print(f"'{string1}' and '{string2}' are not anagrams.")

'gram' and 'arm' are not anagrams.

In [ ]:
# Q. 5  Write a code to find all occurrences of a given substring within another string.

In [ ]:
mainstring = "i am learning data analytics"
substring = "data"

In [ ]:
len(mainstring)

28

In [ ]:
len(substring)

4

In [ ]:
print(mainstring.find("analytics"))

19

In [ ]:
print(substring.find("data"))

0

In [ ]:
# Q. 6 Write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
D = "abbbaaaaaaccdaaab"
print(solve(D))

ab3a6c2da3b

In [ ]:
R = "AANNGUDCDSHCIJKJLSSQSH"
print(solve(R))

A2N2GUDCDSHCIJKJLS2QSH

In [ ]:
# Q. 7  Write a code to determine if a string has all unique characters.

In [ ]:
st = "abcbd"
x=list(set(st))
y=list(st)
x.sort()
y.sort()
if(x==y):
    print(True)
else:
    print(False)

False

In [ ]:
def isUniqueChars(st):

    for i in st:
        if st.count(i) > 1:
            return False
    else:
     return True

    st = "abcd"
print(isUniqueChars(st))

False

In [ ]:
def isUniqueChars(st):

    for i in st:
        if st.count(i) >1:
            return False
    else:
     return True

    st = "abbccd"
print(isUniqueChars(st))

False

In [ ]:
st = "abcbdaaccbd"
a=""
for i in st:
    if i not in a:
        a+=i
if(a==st):
    print(True)
else:
    print(False)

False

In [ ]:
# Q. 8  Write a code to convert a given string to uppercase or lowercase.

In [ ]:
# uppercase
string1 = "She is beautiful"
string1.upper()

'SHE IS BEAUTIFUL'

In [ ]:
#lowercase
string1 = "SHE IS BEAUTIFUL"
string1.lower()

'she is beautiful'

In [ ]:
# Q. 9 Write a code to count the number of words in a string.

In [ ]:
sentence = "I am learning data analytics"
len(sentence)

28

In [ ]:
sentence.count("data")

1

In [ ]:
# Q. 10 Write a code to concatenate two strings without using the + operator.

In [ ]:
A = "work"
B = "hard"
C = (A,B)

In [ ]:
C

('work', 'hard')

In [ ]:
# Q. 11 Write a code to remove all occurrences of a specific element from a list.

In [ ]:
ds = ["apple", "banana,", "cherry", "date"]
ds

['apple', 'banana,', 'cherry', 'date']

In [ ]:
ds.remove("date")

In [ ]:
ds

['apple', 'banana,', 'cherry']

In [ ]:
# Q. 12  Implement a code to find the second largest number in a given list of integers.

In [ ]:
NUMBERS = [45,78,59,23,48,79,100]

In [ ]:
NUMBERS.sort()

In [ ]:
NUMBERS

[23, 45, 48, 59, 78, 79, 100]

In [ ]:
(NUMBERS)[-2]

79

In [ ]:
# Q. 13  Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as value.

In [ ]:
bag = ["apple","cherry", "apple", "banana", "apple","pen","pencil", "pen", "pencil", "pen", "cherry"]

In [ ]:
bag.count("apple")

3

In [ ]:
bag.count("banana")

1

In [ ]:
bag.count("cherry")

2

In [ ]:
bag.count("pen")

3

In [ ]:
bag.count("pencil")

2

In [ ]:
my_bag = {"apple": 3, "banana": 1, "cherry": 2, "pen": 3, "pencil": 2}
my_bag

{'apple': 3, 'banana': 1, 'cherry': 2, 'pen': 3, 'pencil': 2}

In [ ]:
# Q. 14 Write a code to reverse a list in-place without using any built-in reverse functions.

In [ ]:
sen = [4, 9, 6, 2, 1]
sen[::-1]

[1, 2, 6, 9, 4]

In [ ]:
# Q. 15  Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:
list3 = ["grocery", "clothes", "pen", "pen", "grocery", "clothes"]

In [ ]:
list3

['grocery', 'clothes', 'pen', 'pen', 'grocery', 'clothes']

In [ ]:
list(dict.fromkeys(list3))

['grocery', 'clothes', 'pen']

In [ ]:
list_1 = [1, 2, 1, 4, 6]

print(list(set(list_1)))

[1, 2, 4, 6]

In [ ]:
# Q. 16 Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [ ]:
list2 = ["books", "paper", "pen", "pencil", "eraser"]
list2

['books', 'paper', 'pen', 'pencil', 'eraser']

In [ ]:
sorted(list2)

['books', 'eraser', 'paper', 'pen', 'pencil']

In [ ]:
sorted(list2)[::-1]

['pencil', 'pen', 'paper', 'eraser', 'books']

In [ ]:
def is_sorted_descending(lst):
    return all(
        lst[index] >= lst[index+1]
        for index in range(len(lst) - 1)
    )


list_1 = [5, 4, 3, 2, 1]
print(is_sorted_descending(list_1))

list_2 = [1, 2, 3, 4, 5]
print(is_sorted_descending(list_2))

if is_sorted_descending(list_1):
    print('The list is sorted in DESCENDING order')
else:
    print('The list is not sorted in DESCENDING order')

True
False
The list is sorted in DESCENDING order

In [ ]:
def is_sorted_ascending(lst):
    return all(
        lst[index] <= lst[index+1]
        for index in range(len(lst) - 1)
    )


list_1 = [1, 2, 3, 4, 5]
print(is_sorted_ascending(list_1))

list_2 = [5, 4, 3, 2, 1]
print(is_sorted_ascending(list_2))

if is_sorted_ascending(list_1):
    print('The list is sorted in ascending order')
else:
    print('The list is not sorted in ascending order')

True
False
The list is sorted in ascending order

In [ ]:
# Q. 17 Write a code to merge two sorted lists into a single sorted list.

In [ ]:
list1 = [5,9,6,7]
list2 = [4,8,3,1]

In [ ]:
list1

[5, 9, 6, 7]

In [ ]:
list2

[4, 8, 3, 1]

In [ ]:
list1.extend(list2)

In [ ]:
list1

[5, 9, 6, 7, 4, 8, 3, 1]

In [ ]:
list1.sort()

In [ ]:
list1

[1, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Q. 18  Implement a code to find the intersection of two given lists.

In [ ]:
a = [4,8,3,1,0,5,6,7]
b = [5,9,1,7,10,2,4]

In [ ]:
c = [value for value in a if value in b]

print(c)

[4, 1, 5, 7]

In [ ]:
# Q. 19  Create a code to find the union of two lists without duplicates.

In [ ]:
s = [1,5,9,7,8,2]
d = [5,8,2,7,9,0,3]
list(set(s) | set(d))

[0, 1, 2, 3, 5, 7, 8, 9]

In [ ]:
s = [1,5,9,7,8,2]
d = [5,8,2,7,9,0,3]
m = set(s).union(set(b))

In [ ]:
m

{1, 2, 4, 5, 7, 8, 9, 10}

In [ ]:
# Q. 20  Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [ ]:
import random
colours = ["red", "green", "blue", "yellow"]
random.shuffle(colours)

print(colours)

['yellow', 'red', 'blue', 'green']

In [ ]:
import random
shapes = ["circle", "square", "triangle", "rectangle"]
random.shuffle(shapes)

print(shapes)

['triangle', 'square', 'circle', 'rectangle']

In [ ]:
colours = ["pink", "orange", "red"]
colours.sort()

In [ ]:
colours

['pink', 'orange', 'red']

In [ ]:
# Q. 21  Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [ ]:
P = (41,"GOOD", 4.25, "HELLO")
Q = ("GOOD", 4.25, 41)

In [ ]:
R = tuple(set(P) & set(Q))

In [ ]:
R

(41, 4.25, 'GOOD')

In [ ]:
# Q. 22 Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

In [ ]:
A = {1,2,3,4,5,0}
B = {4,5,6,7,8,0}
A & B

{0, 4, 5}

In [ ]:
S = {7, 45, 21, 23 ,58, 96}
D = {10,7, 21,58, 96, 27}
S & D

{7, 21, 58, 96}

In [ ]:
# Q. 23 Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [ ]:
A = (1,2,3,4)
B = (5,6,7,8)
C = A + B

In [ ]:
C

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
J =("FOOD", "AIR", "WATER")
K = ("SHELTER", "CLOTHES")
L = (J,K)
L

(('FOOD', 'AIR', 'WATER'), ('SHELTER', 'CLOTHES'))

In [ ]:
# Q. 24 Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [ ]:
sub1 = {"pom", "hrm", "law", "IB"}
sub2 = {"law", "ob", "eco","rm"}
sub1 - sub2

{'IB', 'hrm', 'pom'}

In [ ]:
# Q. 25 Create a code that takes a tuple of two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [ ]:
E = (1,2)
F = E[0:2]

In [ ]:
F

(1, 2)

In [ ]:
E = (1,2,3,4,5,6,7,8,9)
F = (5,0,6,4,)
H = E + F
G = H[5:9]

In [ ]:
H

(1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 0, 6, 4)

In [ ]:
# Q.26 Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [ ]:
BAG1 = {"apple", "banana", "cherry"}
BAG2 = {"pen", "pencil", "eraser"}
BAG1 | BAG2

{'apple', 'banana', 'cherry', 'eraser', 'pen', 'pencil'}

In [ ]:
# Q. 27 Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [ ]:
numerics = (15,86,45,96,47,83,20)
max(numerics)

96

In [ ]:
min(numerics)

15

In [ ]:
# Q. 28  Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

In [ ]:
MARKS1 = {45,96,58,48,20,36,74,58,30,15}
MARKS2 = {15,20,47,96,42,35,85,64,45,21}

In [ ]:
MARKS1 | MARKS2  #UNION

{15, 20, 21, 30, 35, 36, 42, 45, 47, 48, 58, 64, 74, 85, 96}

In [ ]:
MARKS1 & MARKS2  #INTERSECTION

{15, 20, 45, 96}

In [ ]:
MARKS1 - MARKS2  #DIFFERENCE

{30, 36, 48, 58, 74}

In [ ]:
# Q.29  Write a code that takes a tuple add an element as input. The function should return the count of occurrences of the given element in the tuple.

In [ ]:
u = (4, 5 , 6 , 8 ,8.23,"hello", "amazing", "hello", 4, 2 , 2 ,4)

In [ ]:
u.count("hello")

2

In [ ]:
u.count(2)

2

In [ ]:
u.count(4)

3

In [ ]:
u.count("amazing")

1

In [ ]:
# Q. 30  Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [ ]:
team1 = {"aditya", "nisha", "rudra", "aarohi", "raj"}
team2 = {"aarohi", "lakshya","tejas", "raj", "aditya"}

In [ ]:
team1 ^ team2    #symmetric difference

{'lakshya', 'nisha', 'rudra', 'tejas'}

In [ ]:
# Q. 31  Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [ ]:
fruits = ["apple", "banana", "cherry", "apple", "banana", "date", "apple","cherry"]

In [ ]:
my_dict = {"apple": 3, "banana": 2, "cherry": 2, "date": 1}

In [ ]:
my_dict

{'apple': 3, 'banana': 2, 'cherry': 2, 'date': 1}

In [ ]:
# Q. 32 Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

In [ ]:
my_ps = {"name":["akshay","aditi", "shubham"], "gender":["male","female", "male"], "age":[25, 24, 26]}

In [ ]:
my_ps

{'name': ['akshay', 'aditi', 'shubham'],
 'gender': ['male', 'female', 'male'],
 'age': [25, 24, 26]}

In [ ]:
my_ps1 = {"place":["ahmedabad", "surat", "rajkot"]}
my_ps1

{'place': ['ahmedabad', 'surat', 'rajkot']}

In [ ]:
my_ps.update(my_ps1)

In [ ]:
my_ps

{'name': ['akshay', 'aditi', 'shubham'],
 'gender': ['male', 'female', 'male'],
 'age': [25, 24, 26],
 'place': ['ahmedabad', 'surat', 'rajkot']}

In [ ]:
my_dict = {"name":["aarya", "ayush", "adi"], "gender":["female", "male","male"], "age":[25, 24, 26]}
my_dict

{'name': ['aarya', 'ayush', 'adi'],
 'gender': ['female', 'male', 'male'],
 'age': [25, 24, 26]}

In [ ]:
my_dict1 = {"name":["kushi", "suraj", "raj"]}
my_dict1

{'name': ['kushi', 'suraj', 'raj']}

In [ ]:
my_dict.update(my_dict1)

In [ ]:
my_dict

{'name': ['kushi', 'suraj', 'raj'],
 'gender': ['female', 'male', 'male'],
 'age': [25, 24, 26]}

In [ ]:
# Q. 33  Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

In [ ]:
my_friends = {
    "first": {"name": "akshay", "age": 25},
    "second": {"name": "aditi", "age": 24},
    "third": {"name": "shubham", "age": 26}
}

In [ ]:
my_friends

{'first': {'name': 'akshay', 'age': 25},
 'second': {'name': 'aditi', 'age': 24},
 'third': {'name': 'shubham', 'age': 26}}

In [ ]:
for value in my_friends.items():

 if "profession" in value:
    print(value["yes,it is"])
else:
    print("None")

None

In [ ]:
my_friends.keys()

dict_keys(['first', 'second', 'third'])

In [ ]:
my_friends["first"]

{'name': 'akshay', 'age': 25}

In [ ]:
my_friends["second"]

{'name': 'aditi', 'age': 24}

In [ ]:
print(my_friends["third"]["name"])

shubham

In [ ]:
# Q. 34 Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

In [ ]:
dt = {'apple': 5, 'banana': 2, 'orange': 8, 'grape': 1}

In [ ]:
dt

{'apple': 5, 'banana': 2, 'orange': 8, 'grape': 1}

In [ ]:
dt = {'apple': 5, 'banana': 2, 'orange': 8, 'grape': 1}

sorted_dt_value = sorted(dt.values())
print(sorted_dt_value)

[1, 2, 5, 8]

In [ ]:
# Q.35  Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [345]:
BOOK_1 = {36:"RAJ", 58:"ADITYA", 27:"AYUSH"}
BOOK_1

{36: 'RAJ', 58: 'ADITYA', 27: 'AYUSH'}

In [346]:
invbook1 = { v: k for k, v in BOOK_1.items()}

In [347]:
invbook1

{'RAJ': 36, 'ADITYA': 58, 'AYUSH': 27}

In [351]:
my_dict = {'A': 67, 'B': 23, 'C': 45, 'E': 67, 'F': 69, 'G': 67, 'H': 23}

inverted_dict = dict()
for key, value in my_dict.items():
    inverted_dict.setdefault(value, list()).append(key)

In [352]:
inverted_dict

{67: ['A', 'E', 'G'], 23: ['B', 'H'], 45: ['C'], 69: ['F']}